<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>   
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <nav>
    <div class="nav-wrapper teal grey darken-4">
      <a href="#" class="brand-logo">QUIZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/authors">Autores</a></li>        
      </ul>
    </div>
  </nav>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/quizes/question">Comience a jugar</a></p>

    <footer class="page-footer teal grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Quiz</h5>
          </div>
          <div class="col l4 offset-l2 s12">            
            <ul>
              <li><a class="grey-text text-lighten-3" href="/home">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="/authors">Autores</a></li>              
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">   
      </div>
      </div>
    </footer>
            

  </body>
  <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
   <script type="text/javascript">

    
   </script>          
</html>
